*{
    margin:0;
    border-style: none;
}
body {
    margin: 0;
    text-align: center;
    height: 100vh;
     background-color: #1B244A;
}

#home-score,#away-score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    font-family: Cursed Timer Ulil;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 5rem;
   
}
h3{
    font-family: Verdana;
font-size: 40px;
font-weight: 700;
line-height: 35.89px;
text-align: center;
color: aliceblue;

}

button {
    margin-right: 4px;
    background: none;
    border: 2px solid #9AABD8;
    color: #9AABD8;
    border-radius: 6px;
}
#reset-btn{
    border: 3px double #F94F6D;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: large;
    color: bisque;
    letter-spacing: 5px;
    padding: 1rem;
}